.payment label {
    font-weight: 600;
    color: #000d6b;
  }
  
  .payment button {
    padding: 8px 15px;
    border-radius: 5px;
    background: #000d6b;
    color: #fff;
    border: none;
    outline: none;
  }
  .payy{
    font-size:medium;
    border-top: 5px solid #f9a826;
    border-left: 5px solid #f9a826;
    padding: 8px;
    margin-bottom: 5px;
  }